%%% vim: filetype=erlang:
{deps
  % lager needs to be listed first, to ensure rebar can find 'lager_transform'
  % during compilation of each dependecy.
, [ {lager  , ".*" , {git , "https://github.com/basho/lager.git"    , {tag    , "2.0.3"}}}
  , {cowboy , ".*" , {git , "https://github.com/extend/cowboy.git"  , {tag    , "1.0.0"}}}
  , {hope   , ".*" , {git , "https://github.com/ibnfirnas/hope.git" , {branch , "master"}}}
  , {bstr   , ".*" , {git , "https://github.com/jcomellas/bstr.git" , {tag    , "v0.2.0"}}}
  ]}.

{erl_opts
, [ {parse_transform       , lager_transform}
  , {lager_truncation_size , 1024}
  ]}.
